.navbar {
  &-initial {
    @include flexy($dir: row, $just: space-between, $align: center);
    height: 65px;
    width: 100%;
    padding: 0.75rem 1.45rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-bottom: 2.25rem;
    background: rgba($color-light, 0.7);

    .brand {
      @include flexy($dir: column, $just: center, $align: flex-start);
    }
  }

  .nav {
    &-items {
      @include flexy($dir: column, $just: flex-start, $align: flex-start);
      width: 100%;
    }

    @include mq(md) {
      &-items {
        @include flexy($dir: row, $just: flex-end, $align: center);
      }
    }

    &-item {
      color: $color-primary-blue;
      font-size: 14px;
      font-weight: weight(bold);
      text-transform: uppercase;
      width: 100%;

      a {
        display: inline-block;
        padding: 1.25rem;
        width: 100%;
        &:hover {
          color: $color-primary-red;
        }
      }
    }

    @include mq(lg) {
      &-item {
        font-size: 16px;
      }
    }

    &-dropdown {
      @include flexy($dir: column, $just: flex-start, $align: flex-start);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      height: 100vh;
      padding-top: 85px;
      width: 100%;
      background: $color-light;

      transition: transform 0.5s ease-in-out;
      transform: translateX(-100%);
    }

    &-collapsed {
      transition: transform 0.5s ease-in-out;
      transform: translateX(0);
      top: 0;
    }
  }
}

#nav {
  &-right {
    display: none;
  }

  @include mq(md) {
    &-right {
      display: block;
    }
  }
}

#icon-collapse {
  display: block;
  position: relative;
  width: 24px;
  height: 4px;
  background: $color-primary-blue;

  &::after {
    display: block;
    content: "";
    width: 24px;
    height: 4px;
    background: $color-primary-blue;
    position: absolute;
    top: 8px;
    left: 0;
  }

  &::before {
    display: block;
    content: "";
    width: 24px;
    height: 4px;
    background: $color-primary-blue;
    position: absolute;
    top: -8px;
    left: 0;
  }

  &.collapsed {
    visibility: hidden;

    &::after {
      display: block;
      content: "";
      width: 24px;
      height: 4px;
      background: $color-primary-blue;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.2s ease-in-out;
      transform: rotate(45deg);
      visibility: visible;
    }

    &::before {
      display: block;
      content: "";
      width: 24px;
      height: 4px;
      background: $color-primary-blue;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.2s ease-in-out;
      transform: rotate(-45deg);
      visibility: visible;
    }
  }
}

.icon {
  &-container {
    @include flexy($just: center, $align: center);
    height: 28px;
  }
}

@include mq(md) {
  .icon {
    &-container {
      display: none;
    }
  }
}
