.text {
  &-ultra {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: weight(ultra);
  }

  &-header {
    @include flexy($dir: row, $just: center, $align: center);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: weight(ultra);
  }

  &-title {
    @include flexy($dir: row, $just: flex-start, $align: center);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: weight(ultra);
  }

  &-primary {
    @include flexy($dir: row, $just: flex-start, $align: center);
    font-size: 14px;
    font-weight: weight(bold);
  }

  &-secondary {
    @include flexy($dir: row, $just: flex-start, $align: center);
    font-size: 12px;
    font-weight: weight(normal);
  }

  &-semi-dark {
    color: $color-semi-dark;
  }
  &-semi-light {
    color: $color-semi-light;
  }
  &-dark {
    color: $color-dark;
  }
  &-light {
    color: $color-light;
  }
  &-red {
    color: $color-primary-red;
  }
  &-blue {
    color: $color-primary-blue;
  }

  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: left;
  }

  @include mq(md) {
    &-ultra {
      font-size: 36px;
    }

    &-title {
      font-size: 24px;
    }

    &-primary {
      font-size: 18px;
    }

    &-secondary {
      font-size: 14px;
    }

    &-left {
      @include flexy($dir: row, $wrap: wrap, $just: flex-start, $align: center);
      text-align: left;
    }

    &-right {
      @include flexy($dir: row, $wrap: wrap, $just: flex-end, $align: center);
      text-align: right;
    }
  }
}

.line {
  &-separator {
    margin: 0.25rem auto 0.25rem 0;
    width: 1.5rem;
    height: 2px;
    border: none;
    outline: none;
    background-color: $color-primary-blue;
  }
}
